.article-card-container {
  background-color: #fff;
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  margin: 1vmax 1.5vmax;
  width: 19vmax;
  height: 23vmax;
}

.article-card-image {
  border-radius: .5em .5em 0 0;
  width: 19vmax;
  height: 14vmax;
}

.article-card-body {
  padding: 1vmax;
  margin: 0 0 .5vmax 0
}

.article-link {
  font-size: 1.4vmax;
  color: var(--accent-light);
  font-weight: 600;
}

.article-card-des {
  font-size: 1vmax;
  margin: .5vmax 0;
}

.article-date {
  color: var(--neutral-color);
  font-size: .9vmax;
}

@media only screen and (max-width: 360px) {}