.article-card-container {
  background-color: #fff;
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  margin: 2vmax 1vmax 0 1vmax;
  width: 15vmax;
  height: 15vmax;
}

.article-card-image {
  border-radius: .5em .5em 0 0;
  width: 15vmax;
  height: 12vmax;
}

.article-card-body {
  padding: 1vmax;
  margin: 0 0 .5vmax 0
}

.article-link {
  font-size: 1.1vmax;
  color: var(--accent-light);
  font-weight: 600;
}

.article-card-des {
  font-size: .8vmax;
  margin: .5vmax 0;
}

.article-date {
  color: var(--neutral-color);
  font-size: .6vmax;
}

@media only screen and (max-width: 360px) {}