.articles-container {
  background-color: var(--main-light-color);
  display: flex;
  flex-direction: column;
  height: 100vmax;
  padding: var(--page-padding);
}

.house-banner,
.house-overlay {
  width: 100vw;
  position: absolute;
  height: 33vmax;
  left: 0;
  margin-top: -2vmax;
}

.house-overlay {
  background-color: #253746df;
  backdrop-filter: blur(10px);
  color: var(--main-light-color)
}

.stories-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--page-padding);
  height: 28.8vmax;
}

.stories-header {
  font-size: 2vmax;
}

.stories-subtext {
  font-size: 1.5vmax;
  margin-top: 1vmax;
  line-height: 2.2vmax;
  width: 37vmax
}

.filters-container {
  margin-top: 33vmax;
}


.filters-container,
.articles-cards-holder,
.page-numbers {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .stories-text {
    align-items: center;
  }

  .stories-header {
    font-size: 2.5vmax;
    /* width: 37vmax */
  }

  .stories-subtext {
    font-size: 2vmax;
    width: 49vmax
  }
}

@media only screen and (max-width: 465px) {
  .stories-header {
    font-size: 2.5vmax;
    text-align: center;
    width: 19vmax
  }

  .stories-subtext {
    font-size: 1.8vmax;
    text-align: justify;
    width: 42vmax
  }
}

@media only screen and (max-width: 410px) {
  .stories-header {
    font-size: 2vmax;
    width: 19vmax
  }

  .stories-subtext {
    font-size: 1.6vmax;
    line-height: 1.9vmax;
    width: 32vmax
  }
}