@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  --main-color: #BD6218;
  --main-light-color: #FAF9F9;
  --accent-light: #DDBB66;
  --accent-light-on-main: #F2DCA5;
  --accent-dark-color: #253746;
  --neutral-color: #968C87;
  --page-padding: 2vmax 15vmax
}

body,
html {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: visible; */

  display: flex;
  justify-content: center;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}


#root {
  position: relative;
  min-height: 100vh;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0rem;
}